.DS_Store
node_modules
/dist
.history
live.sh
.htaccess
.env
vue.config.js
# config.js
*.mp3
*.ogg
*.png
*.jpg
*.svg
*.gif
*.aif


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
_backup
live.sh